/**
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * @fileoverview Style definitions for the Bots Add URL landing page.
 *
 * Colors used:
 *   #444 Dark grey used for title text.
 *   #777 Medium grey used for borders.
 *   #8d8 Green used for the url submit button.
 *   #999 Light grey text for the default value of the url text box.
 *   #ccc Light grey used for a divider line, and light borders.
 *   #edf1fe Light blue background on the "add up to 10 urls.." info box.
 *   #0462ca Dark blue foreground color of the "add up to 10 urls.." info box.
 *
 */

table.addUrlContainer {
  margin-top: 30px;
}

td.botsLogoCell {
  padding-left: 20px;
}

td.botsIntroCell {
  padding-left: 50px;
}

td.urlTitle {
  color: #444;
  font-size: 10pt;
  font-family: arial;
  padding-left: 30px;
}

div.aboutBotsTitle {
  color: #444;
  font-family: arial;
  font-size: 12pt;
  font-weight: bold;
}

div.botsIntroDivider {
  background-color: #ccc;
  height: 2px;
  width: 250px;
}

div.botsIntro {
  color: #444;
  font-family: arial;
  font-size: 11pt;
  width: 250px;
}

div.urlSubmitBox {
  background-color: #8d8;
  border-left: 1px solid #777;
  border-radius: 0px 1px 1px 0px;
  cursor: pointer;
  display: none;
  height: 26px;
  left: 489px;
  position: relative;
  top: -28px;
  width: 28px;
}

div.urlSubmitArrow {
  border-width: 8px 8px 8px 12px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  height: 0px;
  left: 9px;
  position: relative;
  top: 5px;
  width: 0px;
}

div.urlAdvert {
  background-color: #edf1fe;
  border: 2px solid #0462ca;
  border-radius: 6px;
  left: 80px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  text-align: center;
  top: 30px;
  width: 350px;
}

div.urlAdvertTitle {
  color: #0462ca;
  font-family: arial;
  font-size: 13pt;
  font-weight: bold;
}

div.urlAdvertInfo {
  color: #0462ca;
  font-family: arial;
  font-size: 11pt;
}

input.urlTextBox {
  border-radius: 4px;
  border-color: #ccc;
  border-width: 2px;
  color: #999;
  font-size: 11pt;
  font-family: arial;
  height: 30px;
  text-indent: 17px;
  width: 520px;
}

