<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Bots URL Testing</title>
    <link rel="stylesheet" href="/s/addurl_landing.css" type="text/css" />
    <link rel="stylesheet" href="/s/url_popup.css" type="text/css" />
    <script type="text/javascript" src="/js/addurl_landing_script.js"></script>
  </head>
  <body>
    <table id="addUrlTitleContainer" class="addUrlContainer" width="100%"
           summary="Contains the title of the Add URL Landing page">
      <tr>
       <td width="25%"></td>
       <td class="botsLogoCell" width="1%">
         <img src="/s/qualitybotslogo.png" style="width:280px"
              alt="QualityBots"/>
       </td>
       <td class="botsIntroCell">
         <div class="aboutBotsTitle">
           About Bots
         </div>
         <div class="botsIntroDivider"></div>
         <div class="botsIntro">
           Bots tests compare the layout of web pages across multiple browsers.
           Click below to add a URL and get started!
         </div>
       </td>
       <td width="25%"></td>
      </tr>
    </table>
    <table id="addUrlInputContainer" width="100%"
           summary="Contains the inputs for the Add URL Landing page">
      <tr>
       <td width="25%"></td>
       <td class="urlTitle">
         URL
       </td>
       <td width="25%"></td>
      </tr>
      <tr>
       <td width="25%"></td>
       <td style="color: #333; padding-left: 10px">
         <input id="urlInput" type="text" class="urlTextBox" value="http://..." />
         <div id="urlSubmit" class="urlSubmitBox">
           <div class="urlSubmitArrow">
           </div>
         </div>
       </td>
       <td width="25%"></td>
      </tr>
    </table>
    <table id="adContainer" width="100%"
           summary="Contains an advertisement for Bots features">
      <tr>
       <td width="25%"></td>
       <td>
         <div id="urlAdvert" class="urlAdvert">
           <div class="urlAdvertTitle">
             Add up to 20 URL's to test
           </div>
           <div class="urlAdvertInfo">
             Results will appear after the weekly run
           </div>
         </div>
       </td>
       <td width="25%"></td>
      </tr>
    </table>
  </body>
</html>
